<!DOCTYPE html>
<html ng-app="app">
<meta charset="utf-8">
    <head>
	   <title>Desafio</title>
</head>
<body ng-controller="redditController">
<div class="container">
	
	<div class="row">
		<h1>Posts Reddit</h1>
		<input type="search" class="form-control" ng-model="search.$"/>
	</div>		
	<div class="row">
		<button type="button" class="btn btn-default" ng-click="comLimite('10')">10 Posts</button>
		<button type="button" class="btn btn-default" ng-click="comLimite('20')">20 Posts</button>
		<button type="button" class="btn btn-default" ng-click="comLimite('30')">30 Posts</button>
		<button type="button" class="btn btn-default" ng-click="comLimite(posts.length)">Todos</button> | 
		<span>
			<strong>Exibindo: {{limite}} Posts de {{posts.length}}</strong>
		</span>
		| 
		<span>
			<label>Ordenar por</label>
			<select ng-model="ordem" ng-options="o.ordem for o in ordenacoes"></select>
		</span>
		|
		<span>
			<label>Atualização automática</label>
			<select ng-model="atualizacao" ng-options="a.atualizacao for a in atualizacoes"></select>
		</span>

	</div>	

	<div class="row">
		<div class="col-md-6">
			<h3>Posts</h3>
			<div ng-repeat="post in posts | filter:search | limitTo: limite | orderBy : ordem.orderBy : ordem.reverse" on-repeat-complete="fimRenderizacao()">
			<reddit>
				<button type="button" ng-click="favoritar(post)">Favoritar</button>	
			</reddit>
			</div>	
		</div>
		<div class="col-md-6">
			<h3>Favoritados</h3>
			<div ng-show='favoritados.length == 0'>Nenhum post favoritado</div>
			<div ng-repeat="post in favoritados">

				<reddit>
					<button type="button" ng-click="desfavoritar(post)">Desfavoritar</button>	
				</reddit>
			
		</div>

	</div>


		
</div>
  <script type="text/java" src="http://code.jquery.com/jquery-2.1.0.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <script type="text/java" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="js/underscore.js" type="text/javascript"></script>
  <script src="js/app.js" type="text/javascript"></script>
</body>
</html>

<script type="text/ng-template" id="template.html">
		<div class=" panel panel-default">
					<div class="panel-body">
						<div>
							<img ng-src="{{post.data.thumbnail}}" />
						</div>
						<div>
							{{post.data.title}}	
						</div>
						<div class="pull-right" ng-transclude></div>
			    </div>
			<div class="panel-footer">
				<label>Ups</label>
	     		<span>{{post.data.ups}}<span>
	     		<label>Downs</label>
	     		<span>{{post.data.downs}}<span>
	     		<label>Author</label>
	     		<span>{{post.data.author}}<span>	
			</div>

		</div>		
</script>